# 系统创建文件
Thumbs.db
.DS_Store

# IDE创建
.idea/
.settings/
.project

# 临时文件
!.gitkeep
.rbenv-version
.rvmrc
.tmp_*~
*.log


# hmr
dist/*.hot-update.*

# 外部类库
bower_components/
node_modules/

# 私有配置文件
config.json

# 临时
src/css/basic/
src/basic/
src/vueex/
src/jlibs/
src/vendor/
assets/img/*
!assets/img/bookmarks2.png
