# 系统创建文件
Thumbs.db
.DS_Store

# IDE创建
.idea/
.settings/
.project

# 临时文件
!.gitkeep
.rbenv-version
.rvmrc
.tmp_*~
*.log

# hmr
dist/*.hot-update.*

# 外部类库
bower_components/
node_modules

# ls
src/vendor/*
!src/vendor/bulma/sass/*
!src/vendor/bulma/bulma.sass

src/css/basic/*
!src/css/basic/src/
!src/css/basic/_basic.scss

assets/img/*
!assets/img/bookmarks2.png


