/*!
 *  define variables
 *  Modify as needed
 */

// theme
$primaryColor: #1a1a1a;
$primaryColor2: #767676;
$primaryColor3: #333;
$baseColor3: #b3b3b3;
$baseColor: #f3f3f3;
$baseColor2: #f8f8f8;
$activeColor: #b50938;

$activeColor: #0e74b5;
$activeColor1: #0386d8;
$activeColor2: #459de3;


// layout
$gap: 0.5rem;
$gap2: $gap * 2;