body{
  min-width:800px;
  min-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
}

header{
  button{
    margin-right: 0.5rem!important;
    &:last-child{
      margin-right:0!important;
    }
  }
}

.box{
  padding:0.5rem;
  box-shadow: none;
}
