@import "basic/src/basic.scss";
@import "basic/src/reset.scss";

html, body {
  font: 14px/2 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif !important;
  font-family: Helvetica Neue, Verdana, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Heiti SC, STHeiti, Microsoft Yahei, SimSun, sans-serif !important;
  background: $baseColor2;
  overflow: hidden;
  height: 100%;
  //background: rgb(231, 235, 240);
}

.active{
  color: $activeColor2;
}

.fa, .far, .fas {
  font-size: 1.4em;
  vertical-align: middle;
  color: inherit;
  //background-color: $primaryColor3;
  &:active {

  }
}


a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

//::selection { background:transparent; color: inherit;}

[v-cloak] {
  display: none;
}